page-login {
    .label_center{
        text-align: center;
        font-size: x-large;font-weight: 100; padding-top: 25px; padding-bottom: 45px;
      }
      .textbox-design{
        border-radius: 4px !important;
        border: 1px solid #dedede !important;
        padding-left:10px;
      }
      .item-inner{
        padding-right: 0px !important;
      }
      
}
