page-admin-payments {
    ion-card {
        position: relative;
        text-align: center;
      }
      .card-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 3rem;
        color: #299826;
        padding: 7px 15px 7px 15px;
        background: #242424;
        opacity: 0.7;
      }
}
