page-quality {
    textarea{
        width: 100%;
        background: #242424;
        border-top: none;
        border-right: none;
        border-left: none;
        resize: none;
        padding-left:11px;
        padding-right:11px;
        
    }
    .header-image {
        height: 40vh;
    }
     
    .main-content {
        padding-top: 20px;
        background: #191919;
    }
    .image-upload > input
    {
        display: none;
    }
}
