<!--
  Generated template for the FoodDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{itemName}}</ion-title>
    <ion-buttons right *ngIf="IsAdmin">
      <button (click)="editItem()" ion-button color="button-Clr" class="admin-login-icon">
        <ion-icon name="md-create" padding-right></ion-icon>
      </button>
      <button (click)="DeleteItem()" ion-button color="button-Clr" class="admin-login-icon">
        <ion-icon name="trash" padding-right></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <spinner *ngIf="loader"></spinner>
  <img [src]="url" width="100%" style="height:40vh;">
  <ion-list style="padding-top: 25px;">
    <ion-item>
      <h2>{{description}}</h2>
      <button ion-button clear item-end>
        <h2>{{'SAR' | translate}} {{price}}</h2>
      </button>
    </ion-item>
  </ion-list>
  <p style="font-size:1.4rem;color:#666666;" margin-left>{{'Quantity' | translate}}</p>
  <ion-list>
    <ion-item text-center>
      {{quantity}}
      <ion-icon name="ios-remove-circle-outline" style="font-size:3rem;" item-left padding-left padding-right (click)="reduce()"></ion-icon>
      <ion-icon name="ios-add-circle-outline" style="font-size:3rem;" item-right padding-left padding-right (click)="add()"></ion-icon>
    </ion-item>
  </ion-list>
  <button ion-button *ngIf="!IsAdmin" color="button-Clr" class="button-design" full (click)="checkKart()">{{'Add_Cart' | translate}}</button>
</ion-content>