page-menu {
    .card-background-page{
        ion-card {
            position: relative;
            text-align: center;
          }
        
          .card-title {
            position: absolute;
            top: 36%;
            font-size: 16px;
            width: 100%;
            font-weight: bold;
            color: #fff;
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #78ffb1;
          }
    }
    ion-content {
        position: absolute;
      /*  background-image: url("/assets/imgs/back-panel.png") !important ;*/
        background-position:center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
     
    }
    .card{
        /* margin: 10px; */
        border-radius: 2px;
        width: 100%;
        border: 1px solid #191919;
        font-size: 1.4rem;
        background: #242424;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        height: 100%;
        align-content:  center;
        padding: 7px;
    }
   
    

}
.back-button.show-back-button{
    color: #78ffb1;
}